pandas>=2.1.4
llm>=0.12
openai>=0.28.1
numpy>=1.26.4
plotly>=5.18.0
scikit-learn>=1.4.1.post1
streamlit>=1.31.0
llama-cpp-python>=0.2.55
langchain>=0.1.12
huggingface_hub
sentence_transformers
langchain-community
faiss-cpu
pypdf
